<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - juego</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/lib/FontAwesome/css/all.css" rel="stylesheet" />
    <link href="~/lib/SweetAlert2/lib/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light justify-content-center">
            <a href="@Url.Action("Categorias","Home")" class="btn btn-light">
                <i class="fa-solid fa-ranking-star"></i>&nbsp;Categoría
            </a>
            <a href="@Url.Action("Dificultad","Home")" class="btn btn-light">
                <i class="fa-solid fa-gamepad"></i>&nbsp;Dificultad
            </a>
            <a href="@Url.Action("Penalizacion","Home")" class="btn btn-light">
                <i class="fa-solid fa-hand-middle-finger"></i>&nbsp;Castigos
            </a>
            <a href="@Url.Action("Preguntas","Home")" class="btn btn-light">
                <i class="fa-solid fa-question"></i>&nbsp;Preguntas
            </a>
            <a href="@Url.Action("Jugadores","Home")" class="btn btn-light">
                <i class="fa-solid fa-users-between-lines"></i>&nbsp;Jugadores
            </a>
            <a id="new" class="btn btn-light">
                <i class="fa-solid fa-plus"></i>&nbsp;Agregar @ViewData["Title"]
            </a>
        </nav>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - juego - LMauroRJ
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/FontAwesome/js/all.js"></script>
    <script src="~/lib/SweetAlert2/lib/sweetalert2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
