@using Entity.Entities.Juego;
@using DTO.List;
@{
    var preguntas = (List<ListaPreguntas>)ViewData["preguntas"] ?? new List<ListaPreguntas>();
    var nivel = (List<Dificultad>)ViewData["dificultad"] ?? new List<Dificultad>();
    var categoria = (List<Categorium>)ViewData["categoria"] ?? new List<Categorium>();
    int i = 0;
}

<div class="container-fluid">
    <div class="table-responsive-sm">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Pregunta</th>
                    <th scope="col">Categoría</th>
                    <th scope="col">Nivel</th>
                    <th scope="col">Puntos</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in preguntas)
                {
                    <tr>
                        <td>@(i += 1)</td>
                        <td>@item.Pregunta</td>
                        <td>@item.Categoria</td>
                        <td>@item.Dificultad1</td>
                        <td>@item.Puntos</td>
                        @if (item.Estado == "A")
                        {
                            <td><span class="badge badge-success">Activa</span></td>
                        }
                        else
                        {
                            <td><span class="badge badge-danger">Inactiva</span></td>
                        }
                        <td>
                            <a id="edit" class="btn btn-outline-secondary btn btn-sm">
                                <input type="hidden" id="id" value="@item.IdPregunta" />
                                <input type="hidden" id="cat" value="@item.IdCategoria" />
                                <input type="hidden" id="nivel" value="@item.IdDificultad" />
                                <input type="hidden" id="stat" value="@item.Estado" />
                                <input type="hidden" id="resp" value="@item.Respuesta" />
                                <i class="fa-solid fa-edit"></i>&nbsp;Editar
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!--Modal for AddEntity-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Nueva Pregunta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="AjaxForm" role="form" asp-action="AddPregunta" asp-controller="Home" method="post">
                    <div class="form-row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>Pregunta</label>
                                <input type="hidden" name="IdPregunta" value="0" />
                                <input type="text" name="Pregunta" class="form-control" placeholder="ej. Quién eres tú" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Respuesta</label>
                                <input type="text" name="Respuesta" class="form-control" placeholder="ej. Soy Yo" required>
                            </div>
                        </div><div class="col-12">
                                  <div class="form-group">
                                      <label>Puntos</label>
                                      <input type="number" min="0" max="100" name="Puntos" class="form-control" placeholder="ej. 20pts" required>
                                  </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Categoría</label>
                                <select name="IdCategoria" class="form-control">
                                    @foreach (var cat in categoria)
                                    {
                                        if (cat.Estado == "A")
                                        {
                                            <option value="@cat.IdCategoria">@cat.Categoria</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label>Nivel</label>
                                <select name="IdDificultad" class="form-control">
                                    @foreach (var level in nivel)
                                    {
                                        if (level.Estado == "A")
                                        {
                                            <option value="@level.IdDificultad">@level.Dificultad1</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <select name="Estado" class="form-control">
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <div class="form-group">
                                <button type="submit" class="btn btn-secondary btn btn-sm">
                                    <i class="fa-solid fa-save"></i>&nbsp;Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //on click event in element Link on each data entity in the table.
        $(document).on('click', '#edit', function (e) {
            var row = $(this).closest('tr');
            var id = row.find("#id").val();
            var cat = row.find("#cat").val();
            var level = row.find("#nivel").val();
            var resp = row.find('#resp').val();
            var name = row.find('td:eq(1)').text();
            var status = row.find('#stat').val();
            var puntaje = row.find('td:eq(4)').text();
            document.getElementById("addModalLabel").textContent = "Editar Pregunta";
            document.getElementsByName("IdPregunta")[0].value = id;
            document.getElementsByName("Pregunta")[0].value = name;
            document.getElementsByName("Respuesta")[0].value = resp;
            document.getElementsByName("Puntos")[0].value = puntaje;
            document.getElementsByName("IdCategoria")[0].value = cat;
            document.getElementsByName("IdDificultad")[0].value = level;
            document.getElementsByName("Estado")[0].value = status;
            $('#addModal').modal('show');
        });
        //on close modal event: [clean all data]
        $('#addModal').on('hidden.bs.modal', function (e) {
            document.getElementById("addModalLabel").textContent = "Nueva Pregunta";
            document.getElementsByName("IdPregunta")[0].value = 0;
            document.getElementsByName("Pregunta")[0].value = "";
            document.getElementsByName("Respuesta")[0].value = "";
            document.getElementsByName("Puntos")[0].value = "";
            document.getElementsByName("IdCategoria")[0].value = 1;
            document.getElementsByName("IdDificultad")[0].value = 1;
            document.getElementsByName("Estado")[0].value = "A";
        });
    </script>
}